<footer>
    <section class="footer">
        <div>
            <h5>Footer Content</h5>
            <p>You can use rows and columns here to organize your footer content.
            </p>
        </div>
        <div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">career</a></li>
            </ul>
        </div>
    </section>
    <section class="footer">
        <div class="footer-copyright">
            <strong>&copy; 2019-2020 Copyright </strong>
        </div>
        <div>
            <p><span>#Design & Developed by BalRam</span></p>
        </div>
    </section>

</footer>