<div class="bg">
    <img src="../../assets/images/bg-lg.jpg" alt="">
</div>
<section class="section content">

    <figure class="item">
        <div>
            <img src="../../assets/images/img_1.svg" alt="">
        </div>
        <figcaption>
            <h4>Choose Your Area Restaurant</h4>
            <p>Donec et tellus sed lorem condimentum maximus. Sed tempor, leo tempus condimentum.</p>
        </figcaption>
    </figure>
    <figure class="item">
        <div>
            <img src="../../assets/images/img_2.svg" alt="">
        </div>
        <figcaption>
            <h4>Choose Food</h4>
            <p>Donec et tellus sed lorem condimentum maximus. Sed tempor, leo tempus condimentum.</p>
        </figcaption>
    </figure>
    <figure class="item">
        <div>
            <img src="../../assets/images/img_3.svg" alt="">
        </div>
        <figcaption>
            <h4>Delivery</h4>
            <p>Donec et tellus sed lorem condimentum maximus. Sed tempor, leo tempus condimentum.</p>
        </figcaption>
    </figure>

    <!-- <a href="http://gambolthemes.net/natto-new-demo/index.html"></a> -->
    <!-- <app-search-data></app-search-data> -->

    <!-- <table>
        <tr class="product" *ngFor="let product of products">
            <td>{{product.albumId}}</td>
            <td>{{product.id}}</td>
            <td class="products-name">{{product.title}}</td>
            <td><img class="img" src="{{product.url}}" alt=""></td>
        </tr>
    </table> -->

    <!-- <app-product-data></app-product-data> -->


</section>